@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* comman css */
ol , ul{
    padding: 0;
}
p{
    margin: 0;
}
:root {
    --primary-color: #121417;
    --gray: #5A6475;
    --blue: #582066;
}


/* header section */
/* announcement barr */
.announcement-bar{
    gap: 16px;
}
.announcement-label{
    font-family: 'Inter';
    font-size: 12px;
    border-radius: 240px;
    background-color: #F1F1F2;
}
p{
    font-family: 'Inter';
    font-size: 14px;
}
.first-horizontal-line{
    border-top: 1px solid #E6E7E9;
    border-bottom: 1px solid #E6E7E9;
}
/* navbar */
.navbar{
    padding: 20px 80px;
}
.navbar-nav{
    gap: 16px;
}
.nav-link{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
}
.login-btn{
    background-color: #EEEFEF;
    font-family: 'Inter';
    color: var(--gray);
    gap: 8px;
    border: none;
    border-radius: 8px;
    order: 2;
}
.navbar-toggler{
    border: none;
}




/* hero section */
.hero-text-section{
    background-image: url('../images/hero-section-bg-img.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 28px;
    max-width: 800px;
    justify-self: center;

}
.hero-text-section .first-text{
    font-family: 'Inter';
    color: var(--blue);
    padding-top: 35px;
}
.hero-text-section .second-text{
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 62px;
    line-height: 72px;
    padding-top: 16px;
}
.hero-text-section .third-text{
    font-family: 'Inter';
    color: var(--gray);
    padding-bottom: 32px;
    padding-top: 16px;
}
.hero-text-section .forth-btn{
    background-color: var(--blue);
    color: white;
    border-radius: 8px;
    border: none;
    gap: 10px;
    padding-right: 20px;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.hero-text-section .fifth-text{
    color: var(--gray);
    font-family: 'Inter';
    font-size: 14px;
    padding-top: 16px;
}




/* brand partnership section */
.brand-logos{
    gap: 34px;
    padding: 96px 80px;
}

/* first and second features section */
.features-section{
    padding: 96px 80px;
}
.main-title h2{
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 40px;
    max-width: 600px;
}
.feature-section-subtext p{
    font-family: 'Inter';
    color: var(--gray);
    padding: 16px 64px 0px 64px;
    font-size: 18px;
    max-width: 650px;
}
.pro-feature-line ,.second-pro-feature-line p{
    font-family: 'Inter';
    color: var(--blue);
    cursor: pointer;
    padding-top: 32px;
}


.all-features{
    padding-top: 96px;
}
.feature-row{
    gap: 32px;
}
.feature-boxes{
    padding: 16px;
    gap: 16px;
}
.feature-title{
    font-family: 'Inter';
}
.feature-desc{
    color: var(--gray);
}


/* second features section */
.second-features-section{
    padding: 96px 80px;
}
.second-feature-section-subtext p{
    font-family: 'Inter';
    color: var(--gray);
    padding: 16px 64px 0px 64px;
    font-size: 18px;
    max-width: 650px;
}

.main-img-section{
    padding-top: 96px;
}
.images{
    gap: 32px;
}
.images img{
    border-radius: 8px;
}



/* status section */
.status-section{
    padding: 96px 80px;
}
.sections{
    width: 255px;
    padding: 6px;
}
 .status-sub-section{
    gap: 24px;
 }
.status-section-main-title{
    font-family: 'Manrope';
    color: var(--blue);
}
.status-section-title{
    font-family: 'Inter';
    color: var(--primary-color);
}
.statuse-section-desc{
    font-family: 'Inter';
    color: var(--gray);
    line-height: 28px;
}


/* review section */
.review-section{
    padding: 96px 80px;
}
.main-review-section{
    padding: 32px;
}
.review img{
    height: 70px;
    width: 70px;
}
.review{
    max-width: 800px;
}
.review .desc{
    font-family: 'Manrope';
    color: #24282F;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
}
.avatar-section img{
    height: 50px;
    width: 50px;
}
.avatar-section ,.name{
    font-family: 'Inter';
    color: var(--primary-color);
}
.avatar-section,.occupation{
    font-family: 'Inter';
    color: var(--gray);
}
.fa-star{
    color: #FFD43B;
}




/* unlock section */
.unlock-section{
    padding: 96px 80px;
}
.unlock-section-title{
    font-family: 'Manrope';
    font-weight: 600;
    color: var(--primary-color);
    line-height: 48px;
    max-width: 615px;
    text-align: center;
}
.unlock-section .two-btn{
    padding-top: 32px;
    gap: 8px;
}
.btn1{
    background-color: var(--blue);
    color: white;
    font-family: 'Inter';
    border: none;
    gap: 8px;
    border-radius: 8px;
}
.btn2{
    font-family: 'Inter';
    border: none;
    gap: 8px;
    color: var(--gray);
    border-radius: 8px;
}


/* footer */
.footer-desc{
    padding-top: 16px;
    color: var(--gray);
    font-family: 'Inter';
    line-height: 28px;
    padding-bottom: 64px;
}
.footer-first-section img{
    padding-top: 90px;
}
.line{
    border-top: 1px solid #F1F1F2;
    border-bottom: 1px solid #F1F1F2;
}
.footer-first-section{
    max-width: 500px;
    justify-self: center;
}



.row a{
    text-decoration: none;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    color: #363C46;
}
.row h5{
    font-weight: 700;
    color: #24282F;
    font-family: 'Inter';
    font-size: 16px;
}


.footer-last-line{
    font-family: 'Inter';
    padding-bottom: 40px !important;
}
.footer-logo i{
    cursor: pointer;
}

@media (max-width: 576px){
    .navbar{
        padding: 20px 26px;
    }
    .navbar :nth-child(2){
        gap: 38px;
    }
    .login-btn{
        gap: 0px;
    }
    .second-text{
    font-size: 40px !important;
    }
    .unlock-your-card {
        width: 100%;
    }
    .forth-btn{
        width: 100%;
        justify-content: center;
    }
     .brand-logos{
        padding: 64px 16px;
     }
    .features-section{
        padding: 64px 16px;
    }
    .feature-section-maintitle .main-title h2{
        padding: 20px;
    }
    .feature-section-subtext p{
        padding: 0px;
    }
    
    .second-features-section{
        padding: 64px 16px;
    }
    .second-feature-section-maintitle .main-title h2{
        padding: 20px;
    }
    .second-feature-section-subtext p{
        padding: 0px;
    }
    .status-section{
        padding: 64px 16px;
    }
     .review-section{
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 64px;
        padding-bottom: 0px;
     }
    .main-review-section{
        padding: 0px;
    }
    .review .desc{
        font-size: 20px;
    }
    .avatar-section{
        padding-bottom: 128px;
    }
    .unlock-section{
        padding: 0px;
    }
    .unlock-section-main-title{
        padding: 64px 16px !important;
    }
    .unlock-section-title {
        font-size: 32px;
    }
    .two-btn .btn1 , .btn2{
        width: 100%;
        justify-content: center;
    }
    .footer-first-section img{
        margin: 0px;
        align-self: flex-start;
        padding-left: 9px;
    }
    .footer-desc{
        text-align: left !important;
        padding-left: 16px ;
    }
}


@media (min-width: 992px){
    .login-btn {
        order: 0; 
    }
    .second-text{
    font-size: 60px;
}
.col-lg-3 {
    flex: 0 0 auto;
    width: 20%;
}
.status-sub-section{
    margin: 40px;
}
}

